#hud .bar
    height 24px
    border 1px solid black

    >.groove
        position relative
        height 100%
        width 100%
        
        >span
            position absolute
            left 5px
    
        >.content
            height 100%
            width 75%    // !!!: for test only