@import '~@/assets/stylesheets/colorset/index.styl'

// stateful ////////////////////////////////////////////////////////////////////////////////////////////////////////

// basic ///////////////////////////////////////////////////////////////////////////////////////////////////////////
#game-pause-modal
    display flex
    // flex-wrap wrap
    height 100%
    justify-content center
    align-items center
    background-color $shadow20 !important

    >.title
        position absolute
        top 0px
        display flex
        justify-content center
        width 100%
        height min-content
        padding 50px
        font-size 52px
    
    >.content
        position relative
        height 300px
        width 500px
        background-color $black03
        padding 20px
        padding-top 100px

        .switch
            display flex
            align-items center

            span
                width 80px
                font-size 24px

        .button
            display flex
            height 52px
            padding 0px

            img
                height 100%
                width 100%

        .button.home
            width 52px
            position absolute
            top 20px
            left 20px
            display flex
            align-items: center
            justify-content: center
            position absolute
            
            svg
                width 25px
                height 25px
        
        .button.level-select
            width 52px
            position absolute
            top 20px
            left 80px
            display flex
            align-items: center
            justify-content: center
            position absolute
            
            svg
                width 25px
                height 25px

        .button.restart
            position absolute
            left 20px
            bottom 20px
            width 200px
            font-size 24px
            justify-content center
        
        .button.resume
            position absolute
            right 20px
            bottom 20px
            width 200px
            font-size 24px
            justify-content center