@import '~@/assets/stylesheets/colorset/index.styl'

// stateful ////////////////////////////////////////////////////////////////////////////////////////////////////////

// basic ///////////////////////////////////////////////////////////////////////////////////////////////////////////
#game-info
    // 